* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #e50914;
    --secondary-color: #ffffff;
}

body {
    font-family: "Manrope", sans-serif;
    --webkit-font-smoothing: antialiased;
    background: #000;
    color: var(--secondary-color);
}

ul {
    list-style: none;
}

h1 h2 h3 h4 {
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}
img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/2341e349-a6fc-4b04-a0ad-9b21defa1f88/IN-en-20220307-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: inset 30px 100px 500px #000;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.showcase-top {
    display: flex;
    position: relative;
    height: 90px;
    z-index: 2;
    /* padding: 1rem 3rem; */
}

.showcase-top img {
    width: 14.5rem;
    margin-top: 0.1rem;
    margin-left: 3rem;
}

.showcase select {
    position: absolute;
    margin-top: 2rem;
    left: 84%;
    /* margin-left: 80%; */
    padding: 6px 10px;
    height: 2.3rem;
    border: none;
    color: var(--secondary-color);
    background: rgba(0, 0, 0, 0.295);
}

.showcase-top a {
    position: absolute;
    margin-top: 2rem;
    margin-right: 3rem;
    padding: 7px 17px;
    right: 0;
}

.showcase-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    padding: 2rem 0.5rem;
    text-align: center;
    margin-top: 50px;
}

.showcase-body h1 {
    margin-top: 70px;
    line-height: 110%;
    font-weight: 800;
    font-size: 4rem;
}

.showcase-body h2 {
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.showcase-body h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.email-form-lockup {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.email-form-lockup input {
    border: none;
    width: 500px;
    height: 65px;
    padding: 2rem;
    font-size: 1rem;
    background: var(--secondary-color);
}

.email-form-lockup .cta-container {
    height: 65px;
}

.break {
    width: 100%;
    height: 0.5rem;
    background: #242424;
}

.animation-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    margin: 0 10rem 0 10rem;
}

.story-card-text-container {
    display: block;
    /* padding: 10rem; */
    text-align: left;
}

.story-card-text-container .story-card-title {
    font-size: 50px;
    margin: 1rem 0 1rem 0;
}

.story-card-text-container .story-card-subtitle {
    font-size: 26px;
    font-weight: 400;
}

.story-card-animation-container {
    display: block;

    position: relative;
    width: 500px;
    height: 400px;
}
.story-card-animation-video {
    position: absolute;
    top: 0;
    margin: 3rem;
}

.story-card-video1 {
    position: relative;
    top: 1rem;
    left: 1rem;
    z-index: -1;
    width: 25rem;
    height: 15rem;
}

.story-card-video2 {
    position: relative;
    top: -2.6rem;
    /* bottom: -1rem; */
    left: 3rem;
    z-index: -1;
    width: 19rem;
    height: 15rem;
}

.faq-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}

.faq-heading {
    font-size: 50px;
    margin: 3rem;
}

.faq-question {
    font-size: 1.5rem;
    margin-top: 10px;
    border: 1px solid #000;
    background-color: #3a3a3a;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 1.5rem;
    width: 60%;
    text-align: left;
    bottom: none;
    outline: none;
    transition: 0.4s;
}

.fa-plus {
    float: right;
}

.faq-answer {
    font-size: 1.5rem;
    width: 60%;
    /* position: absolute; */
    padding: 2rem;
    background-color: #3a3a3a;
    display: none;
    overflow: hidden;
    transition: 2s ease-in-out;
}

.bottom-cta-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.footer-heading{
text-align: left;
margin-left: 14%;
font-size: 100;

}
.footer{
    padding-left: 10%;
    padding-right: 10%;
    margin: 4rem 0 4rem 0;

}

.footer-elements{
    
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    align-items: center;
    list-style: none;
    margin: 0 5rem 0 5rem;
    padding: 2rem;

}
.item {
    margin: .5rem 0 .5rem 0;
    font-size: 100;

    
    /* padding: .5rem; */
}

.item a{
    color: #8f8f8f

}



.footer-group1 .footer-group2 .footer-group3 .footer-group4{
    display: block;
   
    
}

.bottom-select select {
    position: absolute;
    /* margin-top: 2rem; */
    left: 20%;
    padding: 6px 10px;
    height: 2.3rem;
    border: none;
    color: var(--secondary-color);
    background: rgba(0, 0, 0, 0.295);}

.copyright{
    text-align: center;
    font-weight:lighter ;
    color: #8f8f8f
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 6px 10px;
    margin-right: 0.5rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 0.9rem 1.5rem;
    min-width: 74px;
    max-width: 320px;
    max-height: 160px;
}

.btn-red {
    background-image: linear-gradient(to bottom, #e50914, #db0510);
}
